<div class="jumbotron">  
    <div class="container">
        <h1>Welcome</h1>
        <p>...To the Birch Family Scripture Study Site</p>
    </div>
</div>  
<div class='row'>
	<div class='mainTile col-lg-4 col-md-12 homePg1'>
		<h2 style="border-bottom:none; text-align:center">Daily Inspiration</h2>
		<div ng-init="selectInspiration()" style="width:90%; margin-left:5%">
			<p ng-bind="inspirationSelected.what"></p>
			<p>-<i ng-bind="inspirationSelected.who.name"></i></p>
			<p class="s75p">
				<span ng-bind="inspirationSelected.where"></span><span ng-if="inspirationSelected.when"> - </span><span ng-bind="inspirationSelected.when"></span>
			</p>
		</div>
	</div>
	<div class='mainTile col-lg-4 col-md-12'>
		<h2 style="border-bottom:none; text-align:center">Weekly Studies</h2>
		<h3 style="border:none">Topic of the week</h3>
		<div class="weekTimage">
			<a href="" ng-click="go('/topics', weeklyTopic.id)">
				<img src="{{weeklyTopic.displayImage | trustAsResourceUrl}}" style="width:100%"/>
				<p class="imgH" style="width:95%">
					<span ng-bind="weeklyTopic.top" class="t_f30"></span>
				</p>
			</a>
		</div><br>
		<h3 style="border:none">Talk of the week</h3>
		<div style="width:90%; margin-left:5%">
			<single-talk talk='weeklyTalk'></single-talk>
		</div>
	</div>
	<div class='mainTile col-lg-4 col-md-12 homePg3'>
		<h2 style="border-bottom:none; text-align:center">Search for Something Else to Study</h2>
		<div style="width:90%; margin-left:5%">
	        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchString" ng-enter="search(searchString)"><br>
	        <button class="btn btn-info" type="button" style="width:100%; height:50px; margin-bottom:15px;" ng-click="search(searchString)">Go!</button><br>
		</div>
		<div>
			Testing Firebase:<br>
			<input type="text" ng-model="data.text"/>
			<h4>You said: {{ data.text }}</h4>
		</div>
	</div>
</div>