.dropFromTop {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: dropFromTopLink; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: animateShape;
    animation-duration: 2s;        
}
/* Chrome, Safari, Opera */
@-webkit-keyframes dropFromTopLink {
    0%   {left:0px; top:-50px;}
    50%  {left:0px; top:500px;}
    65%  {left:0px; top:600px;}
    80%  {left:0px; top:400px;}
    95%  {left:0px; top:550px;}
    100% {left:0px; top:500px;}
}
/* Standard syntax */
@keyframes dropFromTopLink {
    0%   {left:0px; top:-50px;}
    50%  {left:0px; top:500px;}
    65%  {left:0px; top:550px;}
    80%  {left:0px; top:450px;}
    95%  {left:0px; top:525px;}
    100% {left:0px; top:500px;}
}

.growImage {
    -webkit-animation-name: cssAnimateGrowImage;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimateGrowImage {
    from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
    }
    to {
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
    }
}

.animateTheShape {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: animateShape; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 8s; /* Chrome, Safari, Opera */
    animation-name: animateShape;
    animation-duration: 8s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes animateShape {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:93.8%; top:0px; border-radius: 50%;}
    50%  {background-color:blue; left:93.8%; top:390px; width:100px; height:100px; border-radius: 0%;}
    75%  {background-color:green; left:0px; top:390px; border-radius: 50%;}
    100% {background-color:red; left:0px; top:0px;}
}
/* Standard syntax */
@keyframes animateShape {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:93.8%; top:0px; border-radius: 50%;}
    50%  {background-color:blue; left:93.8%; top:390px; width:100px; height:100px; border-radius: 0%;}
    75%  {background-color:green; left:0px; top:390px; border-radius: 50%;}
    100% {background-color:red; left:0px; top:0px;}
}