<div id="nav-header" class="navbar navbar-inverse nav-header" style="background-color:black; border-radius:0px; position:relative">

      <div class="container-fluid" style="border-radius:0px;">
        <div class="navbar-header" style="border-radius:0px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="" ng-click="go('home')" class="navbar-brand" id="fadeTogID" style="margin-left:35px">Gospel Studies</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" auto-active>
            <li id="headerDiv">&nbsp;</li>
            <li><a href="" ng-click="go('home')">Home</a></li>
            <li><a href="" ng-click="go('famTalks')">Family Talks</a></li>
            <li><a href="" ng-click="go('/topics', '0')">Topics</a></li>
            <li><a href="" ng-click="go('/questions', '0')">Questions</a></li>
            <li><a href="" ng-click="go('/stories', '0')">Stories</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Growing Up <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="a in ages"><a href="" ng-click="go('/growingUp', a.id)" ng-bind="a.title"></a></li>
              </ul>
            </li>
            <li><div class="input-group" style="width:200px; margin-top:8px; padding-left:15px">
                  <input type="text" class="form-control" placeholder="Search for..." ng-model="searchString" ng-enter="search(searchString)" style="background-color:black;color: #999999;">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search(searchString)">Go!</button>
                  </span>
                </div>
            </li>
            <!-- <li ng-click="openFeedbackModal()">Submit Feedback</li> -->
          </ul>
        </div>
      </div>
    
</div>
