<div class="modal-header"">
  <button type="button" class="close" ng-click="dismiss()">&times;</button>
  <h2 class="modal-title">Delete All Data?</h2>
</div>
<div class="modal-body">
	<strong>This will remove all of the items that you have been tracking, are you sure want to delete all of them?</strong>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" style="font-size:150%" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="close()">Delete All</button>
</div>
